* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url(https://i.pinimg.com/564x/eb/0e/65/eb0e65fbdcc21480d6d005bd298bae3b.jpg);
}

nav {
  background-image: url(https://i.pinimg.com/564x/6b/38/f3/6b38f39a7df3996632ee90150f63b296.jpg);
  padding: 2px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bolder;
}

.active {
  color: black;
  text-decoration: none;
}

.no-active {
  color: #4f5a57;
  text-decoration: none;
}

.card-box {
  width: 400px;
  margin-left: 4%;
  color: aliceblue;
}

.buttonplus{
  display: flex;
  
}
